.navigation {
  height: 60px;
  margin-bottom: 0px;
  background-color: #fbfbfb;
  border-bottom: 0;
}

.top-buttons {
  margin-top: 10px;
}

.header-icons {
  float: right;
  padding-left: 0;
  padding-right: 10px;
  width: auto;
}
