.wishlist-icon {
  color: #b12416;
  padding-left: 5px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bottom-bar {
    margin-bottom: 15px;
}

.wishlistname{
  font-family: "jaf-bernino-sans-condensed", "Arial Narrow", sans-serif;
  font-size: large;
  font-weight: 300;
}

.wishlitname-container {
  padding-left: 5px;
}

.wishlistnav {
  margin-top: 10px;
  padding-left: 0px;
}
  .wishlistIcon {
    padding-top: 3px;
    padding-bottom: 2px;
  }

  .wishlistname-container {
    margin-left: 8px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .button-left {
    float: left;
  }
  .button-right {
    float: right;
  }

  .buttonAlign {
    margin-top: 10px;
    margin-left: 0px
  }

  .footerNavigation {
    height: 30px;
    width: 100%;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
  }
