.product__img {
  height: 100px;
  margin-top: 5px;
}

.description {
  padding-right: 0px;
  vertical-align: middle;
}

.wishlistlist {
  margin: 8px 0px 8px 0px;
  background-color: #fff;
  padding: 5px 0 5px 0;
}

.wishlistcontent {
  margin-top: 8px;
  margin-bottom: 10px;
  height: 100%;
  width: 100%;
  padding: 0px 0px 0px 0px;
  background-color:#f5f5f5;
}
